<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      input[type=text], [type=email],  [type=password], select, textarea{
        width: 100%;
        padding:12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      input[type=submit]{
          width: 100%;
          background-color: #4caf50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
      }

      input[type=submit]:hover{
        background-color: green;
      }
      
    </style>

    <div class="card">
      <div class="circle">1</div>
      <h1>Registrasi</h1>
      <form action="#">
        <label for="">Nama Lengkap</label>
        <input type="text" name="nama" placeholder="Nama Lengkap..." required>

        <label for="">Email</label>
        <input type="email" name="email" placeholder="Email Anda..." required>

        <label for="">Password</label>
        <input type="password" name="password" placeholder="Password Anda..." required>

        <label for="">Jenis  Kelamin</label>
        <select name="jk" id="">
          <option value="" selected disabled>---Pilih---</option>
          <option value="lakilaki">Laki-laki</option>
          <option value="perempuan">Perempuan</option>
        </select>

        <label for="">Alamat</label>
        <textarea name="alamat" id="" cols="30" rows="10" placeholder="Alamat Anda..."> </textarea>
        
        <input type="submit" name="submit" id="" value="SUBMIT" >
      </form>
      
    </div>
  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>